.manual-form {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  background-color: #fafafa;
  padding: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.manual-form>input {
  margin: 5px;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
}

.manual-form>input:focus {
  outline: none;
  shape-outside: none;
}

.manual-form>button {
  margin: 10px 5px;
  padding: 7px 15px;
}